@font-face {
    font-family:"PT Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/ptsans-400.woff2) format("woff2");


    
}
@font-face {
    font-family:"PT Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
}
header { height: 100%;}
a { color: #000000; text-decoration: none;}

li { list-style-type: none;  }

    .visually-hidden { visibility: hidden; } 

body {
    width: 1200px;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    margin: 0 auto;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    display: flex;
    flex-direction: column;
    }

   /* hedder on*/ 

    .heder-menu{
        width: 1200px; 
        height: 64px;

    }
    .navigation-heder-menu {
        display: flex; 
        flex-direction: row;
        margin-left: 70px;
    }

.navigation-heder-list, .navigation-heder-list-2{ 
    display: flex; 
    flex-direction: row;

}

.navigation-heder-list{
color: #000000;
font-weight: 700;
font-size: 20px;
line-height: 24px;
justify-content: flex-start;
}
.navigation-heder-item { 
    margin-right: 35px;}

    .border-bottom::after{
        position: absolute;
        content: "";
        width: 90px;
        top: 43px;
        left: 1px;
        right: 16px;
        bottom: -1px;
        height: 2px;
        background: #756257;
    }
    .navigation-heder-item { position: relative;}


    .navigation-heder-list-2 {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-left: 250px;
        width: 268px;
        height: 64px;
                  }

                 

    .search-icon {
    background-image: url(../images/icon/search.svg);
    display: block;
    background-repeat: no-repeat;
    min-width: 18px;
    min-height: 18px;
    
    }

.favorites-icon {
     background-image: url(../images/icon/heart.svg);
     display: block;
     background-repeat: no-repeat;
     min-width: 18px;
     min-height: 18px;
     margin-left: 22px;
       }

.favorites-number{
position: absolute;
top: 3px;
padding: 5px;
font-weight: 400;
font-size: 10px;
font-style: normal;
line-height: 10px;
color: #ffffff;
background-color: #7db54f;
border-radius: 10px;
max-width: 50px;
margin-left: 6px;
}

.navigation-heder-item-4 a {
background-color:#756157;
color: #FFFFFF;
text-decoration: none;
height: 36px;
font-size: 16px;
text-align: center;
border-radius: 4px;
font-weight: 700;
line-height: 20px;
padding: 8px 34px;
margin-left: 50px;
    }
/* hedder off*/




    
/* fillter on*/

.hotel-sedona-heder{
text-transform: capitalize;
margin: 0;
line-height: 78px;
font-size: 60px;
}

.hotel-sedona {
width: 114px;
height: 21px;
font-size: 16px;
color: #FFFFFF;
display: flex;
flex-direction: row;
line-height: 21px;
padding-inline-start: 0px;
position: relative;
bottom: 10px;

}

.home-li { background-image: url(..//images/icon/home.svg);
background-repeat: no-repeat;
position: relative;
top: 3px;

}
.arrow {position: relative; left: 3px;}


.hotel-sedona-item{
width: 114px;
height: 21px;
font-size: 16px;
line-height: 21px;
margin: 0 auto;
}

    .filter{
background-image: url(../images/Filter-background.jpg);
color: #FFFFFF ;
background-repeat: no-repeat;
background-size: cover;
top: 64px;
padding: 35px 70px 70px 70px;
width: 1060px;
height: 307px;
}
.word-filter {
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
margin-left: -20px ;
}

.info-filter, .type-filter{
font-size: 18px;
line-height: 23px;
display: flex;
flex-direction: column;
align-items:stretch;
justify-content: space-between;
margin-left: -50px;
width: 150px;
height: 101px;

}

.filter-menu{
display: flex;
flex-direction: row;
justify-content: space-around;

}

.catalog-filter{
margin-top: -30px;
width: 1060px;
height: 160px;
}

.item-info {
background-image: url(../images/checkbox.svg);
background-repeat: no-repeat;
}
.item-type {
    background-image: url(../images/checkboxlike.svg);
    background-repeat: no-repeat;
}



.filer-hotel-next {
    border: 2px  solid #E5E5E5;
    width: 292px;
    height: 49px;
    font-size: 18px;
    font-weight: 400;  
     }


 
 .filter-checkbox {
        border: 0px;
       font-size: 18px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
    } 
    
    .filter-radio {
        border: 0px;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        flex-direction: column;
    } 
    
    
    .catalog-filter-on {
        border: 0px;
        font-size: 13px;
        line-height: 24px;
        width: 322px;
        height: 173px;
        margin-bottom: 15px;
        padding-right: -90px;
                          }

     .for-min {
     position: relative;   
     color: #000000; 
      opacity: 30%;
      line-height: 24px;
      font-size: 16px;
      right: 180px;
    
    }
         .for-max {
        position: relative;   
        color: #000000; 
        opacity: 30%;
        line-height: 24px; 
        font-size: 16px;
        top: -38px;
        left: 260px;
    }

        .filter-menu{ 
        width: 1,060px;
        height: 160px;
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;}

        
        /* окна стоимости */
        .filed-min {
            border-radius: 4px 0px 0px 4px;
            border: 0px;
            
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            
        }
            .filed-max{
                border-radius: 0px 4px 4px 0px;
                border: 0px;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }
/* Бегунок стоимости  */
.range-scale{ 
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 287px;
    margin-top: 15px;
}

.range-bar {
position: absolute;
height: 4px;
background-color: #FFFFFF;
}

.range-toggle{ 
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.toggle-min {
    left: 0;
    top: -8px;
}
.toggle-max{
    right: -1px;
    top: -8px;
}

/* button */
    .go-on {
        background-color: #82B3D3;
        color: #FFFFFF;
        border-radius: 4px;
        border: 0px;
        text-transform: uppercase;
        font-weight: 700;
        width: 191px;
        height: 36px;
        text-align: center;
        font-size: 16px;
        padding:8px 50px 8px 50px;
    }
    /* button */
    .go-off {
        background-color: transparent;
        color: #FFFFFF;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
        border: 0px;
        text-transform: uppercase;
        font-weight: 700;
        width: 191px;
        height: 36px;
        padding:8px 50px 8px 50px;
        margin-top: 36px;

    }
    .submit-reset{
        width: 191px;
        height: 104px;
        margin-top: 25px;
        
    }

    /* Найдено гостинец */

.map-hotel { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
                
}
    .have-hotel-title{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;

    }

    .filter-menu-hotel {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 1060px;
height: 49px;

    }

    .sort-item{
display: flex;
flex-direction: row;
    }

    .current-button{
        background-image: url(../images/icon/table.svg);
        border: 2px solid #000000;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 14px;
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 4px;
    }

    .view-item {
        background-image: url(../images/icon/item.svg);
        border: 2px solid #e5e5e5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 14px;
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 4px;
    }
    .view-list{
        background-image: url(../images/icon/list.svg);
        border: 2px solid #e5e5e5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 14px;
        width: 44px;
        height: 44px;
        display: block;
        border-radius: 4px;
    }
  .sort-card { margin-left: 5px;}

  .catalog-stars{
    background-image: url(..//images/icon/star.svg);
    background-repeat: space no-repeat;
    background-size: 18px 17px;
    background-position: center;
    margin: 0;
    position: relative;
    
  }

 
.one-stars {
    width: 35px;
  }
  
  .two-stars {
    width: 42px;
  }
  
  .tree-stars {
    width: 66px;
  }
  
  .four-stars {
    width: 89px;
    
  }
  
  .five-stars {
    width: 105px;
  }
  .hotel-popular {
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
position: relative;


}

.block-raiting{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto;
position: relative;
top: 10px;


}

    .hostel-list-item {
    border: 1px solid #E6E6E6;
    margin: 0;
    padding: 0 20px 20px 20px;
    margin: 10px;
                    
    }

    .hostel-list{
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }

    .product {
display: grid;
grid-template-rows: 340px 340px 340px;
border-radius: 4px;
    }

/* page on*/
    .page{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width:1,060px;
        height: 60px;

           }
.page-namber {
background-color: #82B3D3;
background-size: 36px;
color: #FFFFFF;
border-radius: 4px;
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-decoration:none ;
display: block;
padding: 12px 10px;
}

.pagination-link-next{
background-color: white;
color: #000000;
text-decoration: none;
border-radius: 4px;
display: block;
border: none;


}
.page-item{
width: 60px;
height: 60px;
padding: 2px;
border-radius: 3px;
text-align: center;
margin-right: 8px;

}

/* button on*//* меню гостинец */
      .show-me  {
        background-color: #756157;
        color: #FFFFFF;
        border: 0px;
        text-align: center;
        line-height: 20px;
        border-radius: 4px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        width: 140px;
        height: 36px; 
        padding-left: 8px 50px 8px 50px;
    
    }
     .favorites {
                background-color: #82B3D3;
                color: #FFFFFF;
                border: 0px;
                text-align: center;
                line-height: 20px;
                border-radius: 4px;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 700;
                width: 140px;
                height: 36px;
                padding-left: 8px 50px 8px 50px;
            }

            .name-hotel {
                background-position: bottom;
                
            }

.inline {
    display: inline-block;
    justify-content: space-between;
    }
           
  .prise-to, .prise-form {
        font-weight: 700;
        font-size: 18px;
        text-align: right;
        color: grey ;
        font-weight: 400;
        margin: 0;
    }

    .filed-min {
        width: 143px;
        height: 48px;     
 
    }
    .filed-max {
        width: 143px;
        height: 48px;       

    }
    .hotel-popular { 
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
     position: relative;
     
    }
    .hostel-word {text-align: left; width: 140px; height: 21px; margin: 0;}

    .prise-hostel{text-align: right; width: 140px; height: 21px; margin: 0;}

   
   

    .control { font-size: 18px;
    line-height: 23px;}

    .filter-hotel{
        width: 292px;
        height: 49px;
        padding: 14px 20px 14px 20px;
        border-radius: 4px;
        border: 2px;
         font-size: 18px;
            }
 
.hotel-sedona a{
    width: 114px;
    height: 21px;
    font-size: 16px;
    color: #FFFFFF;
    }
   

    .hotel-sedona-heder {
        width: 494.4px;
        height: 78px;
        font-size: 60px;
        }

.name-hotel {
font-size: 24px;
line-height: 28px;
color: #000000;
font-weight: 700;



}


.hostel-word{
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.prise-hostel {
font-size: 18px;
font-weight: 400;
line-height: 21px;
}

.subscribe {
    padding: 96px 258px 104px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-form{
    padding: 12px 20px 12px 20px;
    border-radius: 4px 0px 0px 4px;
    background-color: #F2F2F2;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 452px;
    margin: 0;
    border: 0px;
    padding-left: 150px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}



.chek-p-email {
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 26px;
color: #333333;
}

.e-mail {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
width: 452px;
border: none;
border-radius: 4px 0 0 4px;
max-height: 52px;
padding: 12px 20px;
position: relative;
left: -200px;
}




.button-email-chek {
    background-color: #82B3D3;
    width: 232px;
    height: 52px;
    border-radius: 0px 4px 4px 0px;
    border: 0px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 50px ;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    right: -293px;
    top: -50px;
}






.futter-contact { 
border: 1px solid black;

}



.contact{    
    display: grid;
    grid-template-columns: 142px 720px 115px;
    position: relative;
    left: 60px;
    

}





.social-media{
display: grid;
grid-template-columns: 24px 24px 24px;
grid-gap: 20px;
position: relative;
bottom: 20px;

    }

 

.phone {
text-decoration:  none;
color: #000000;
font-size: 40px;
line-height: 40px;
text-align: center;
} 


